<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="CurrentConnection" connectionString="Data Source=dp78;Initial Catalog=Dentrix;User Id=sa; Password=" />
  </connectionStrings>

</configuration>